$maxWidth: 960px;

$bgColor: #97c3be;
$gridSize: 30px;
$headingColor: #2d3c4e;
$coreFont: Helvetica, Verdana, Tahoma, serif;

$darkBlue: #2d3c4e;
$darkYellow: #e3af19;
$darkGreen: #6fb656;
$darkGrey: #3f3f3f;

$lightGrey: #d9d9d9;
$lightGreen: #fafdfd;


$green: #33b833;
$red: red;
